/* common shared styles */
.banner-title{
    font-family: "Roboto";
      
}
nav{
   
}

.btn-primary{
    border-radius: 5px;
    background-color: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

header{
    background-color: #ffeaef;
}
.banner{
    padding: 80px 30px 30px 130px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.banner .profile-pic{
    width: 400px;
}
